html{
    overflow: hidden; /*inhoud die niet op de pagina past word verborgen*/
}

Header{
    background-image: url("https://i.imgur.com/HtaPXng.jpg");
    background-size: 1500px 100px;
    background-repeat: no-repeat; /*achtergrond-foto word 1 keer geplaatst i.p.v. herhaald*/
    font-family: 'Yantramanav', sans-serif;
    color: rgb(255, 255, 255);
    height: 85px;
    width: 100%;
    font-size: 75px;
    text-align: center; /*tekst word in het midden van de pagina geplaatst*/
}

Body{
    float: left;
}

.menu{
    width: 300px;
    height: 630px;
    font-size: 4em;
    background-color: RGB(126, 21, 1);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.hoofd-titel{
    margin-left: 325px;
    padding-top: 40px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 3em;
    color: #C0C0C0;
}

.hoofd-tekst{
    width: 900px;
    margin-top: 20px;
    margin-left: 325px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 30px;
    color: #C0C0C0;

}

.pagina1{
    width: 1500px;
    background-color: #BD4343;
    height: 630px;
}

.menu-item{
    opacity: 20px;
    font-family: Arial black;
    font-size: 45px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 15px black; /*geeft de rand een schaduw*/
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px; /*geeft de rand ronde hoeken*/
    transform: scale(1); /*geeft originele schaal van de tekst*/
    transition: all 0.35s ease-out; /*eigenschappen van de overgang waneer je muis er over gaat*/
}

.menu-item:hover{
    transform: scale(1.09); /*schaal van de tekst als je muis er over gaat*/
    background-color: #BE0508;
    color: #000000;
}

a {
    text-decoration: none; /*zorgt ervoor dat de links geen gekleurde streep krijgen*/
    color: black;
}


.mij{
    float: left;
    padding-left: 10px;
    border-radius: 200px;
    width: 250px;
    height: 250px;
    transform: scale(1);
    transition: all 0.35s ease-out;
}

.mij:hover{
    transform: scale(1.07);
}

.ik{
    list-style: dot; /*wat voor icoon bij de opsomming*/
    font-size: 2.5em;
    color:#C0C0C0;
    margin-left: 570px;
}

.neh{
 position: absolute;
 color: #C0C0C0;
 font-size: 2.5em;
 margin-top: 200px;
 margin-left: 340px;
}

.nehfoto{
    width: 500px;
    padding-left: 315px;
    padding-bottom: 150px;
}

.hoofd-tekst-overmij{
    float:center;
    padding-top: 35px;
    font-size: 2.4em;
    color:white;
}

.reden{
    font-weight: bold;
    list-style: decimal;
    margin-top: 20px;
    margin-left: 325px;
    color: #C0C0C0;
    font-size: 2em;
}

.hoofd-tekst-motivatie{
 width: 900px;
 height: 125px;
 margin-left: 325px;
 font-size: 2.5em;
 color: #C0C0C0;
}

.hz{
    margin-top: 100px;
    margin-left: 250px;
}

.techniek-foto{
    width:533px;
}

.techniek-tekst{
    line-height: 150%;
    list-style: decimal;
    margin-right: 140px;
    font-size: 1.2em;
    margin-top: 20px;
    float: right;
    color: #C0C0C0;
}

.sps{
    margin-left: 150px;
    height: 550px;
}


.hoofd-titel-techniek{
    color:#C0C0C0;
    font-size: 3em;
    margin-left: 1000px;
}